.content{
    margin-top:30px;
    width:100%;
    height:65%;
}
.login{
    width:50%;
    margin:0 auto;
    margin-top:5%;
    margin-left:30%;
}
.signup{
    width:50%;
    margin:0 auto;
    margin-top:0%;
    margin-left: 30%;
}
.IDPASS{
    width:50%;
    margin:0 auto;
    margin-top:0%;
    margin-left: 30%;
}
.login > ul, .signup > ul, .IDPASS > ul{
    width:65%;
}
.login > ul > li > p, .signup > ul > li > p, .IDPASS > ul > li > p{
    font-weight:bold;
    font-size:1.1rem;
}
.login > ul > li > a, .signup > ul > li > a{
    float:right;
}
.login > ul > li > input, .signup > ul > li > input , .IDPASS > ul > li > input{
    width:100%;
    height:30px;
    font-size:1.1rem;
    padding-left:5px;
}
.login > ul > .phone > input, .signup > ul > .phone > input , .IDPASS > ul > .phone > input{
    width:30%;
}
.login_btn{
    margin-top:5%;
}
.login_btn> button,.login > ul > .login_btn > input, .signup > ul >.login_btn > input , .IDPASS > ul >.login_btn > input{
    background-color:black;
    border:2px solid #e3e3e3;
    width:100%;
    height:35px;
    color:white;
}
.login_btn> button >a{
    color:white;
    font-size:1.1rem;
    display: inline-block;
    width: 100%;
}
.signup_btn > button{
    border:2px solid #e3e3e3;
    background-color:white;
    width:100%;
    height:35px;
    margin-top:3%;
}
.signup_btn > button > a{
    color:black;
    font-size:1.1rem;
    display: inline-block;
    width: 100%;
}
#check_id{
    position:absolute;
    height:35px;
    left:67%;
}
.find{
    margin-top: 3%;
    width: 100%;
    height:10px;
    text-align: right;
}
.find > a{
    font-weight:bold;
}
.phone{
    display:flex;
}
.phone > input{
width:30%;
}
@media (max-width: 1058px){
    #check_id{
        position:absolute;
        height:35px;
        left:72%;
    }
}
@media (max-width: 768px){
    .login, .signup, .IDPASS{
        width:100%;
        margin:0 auto;
        margin-top:10%;
        margin-left: 10%;
    }
    .login > ul > li > p, .signup > ul > li > p, .IDPASS > ul > li > p{
        font-size:0.9rem;
    }
    .login > ul > li > input, .signup > ul > li > input, .IDPASS > ul > li > input {
        font-size:0.9rem;
    }

    .login_btn> button >a{
        font-size:0.9rem;
    }
    .signup_btn > button > a{
        font-size:0.9rem;
    }
    .find >a{
        font-size:0.9rem;
    }
}
@media (max-width: 576px){
}