.content{
    margin-top:30px;
    width:85%;
    height:80%;
}
.section1{
    width: 80%;
    height: 10%;
    margin-left: 12%;
}
.section1> .title {
    display:block;
    margin-top: 0px;
    float:left;
}
.section1> .title > a > h1{
    font-size:1.5rem;
}
.category{
    display: inline-block;
    margin-top: 2%;
    margin-left: 3%;
}
.category > select{
    height:30px;
}
.search{
    float:right;
    padding-top:2%;
    text-align: right;
}
.search > input{
    width:54%;
    height:30px;
    margin:0% 2% 0% 2%;
    font-size:0.9rem;
}
.search > select{
    height: 30px;
}
.search > button{
    width: 50px;
    height: 30px;
}
.section2 > .table_pc > table{
    width: 80%;
    margin-left: 12%;
    text-align: center;
    margin-top: 30px;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    border-collapse:collapse;
}
.section2 > .table_pc > table tr th{
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    background-color:#f5f5f5;
}
.section2 > .table_pc > table tr td{
    padding:7px 5px;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}
.section2 > .table_pc > table tr td >a{
    display:inline-block;
    width:100%;
}
.table_mb{
    display:none;
}

.paging {
    display: block; 
    width: 35%;
    height: 50px;
    margin-top: 6%;
    margin-left: 43%;
    float:left;
}

.paging a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size:1.1rem;
}
.insert{
    width: 80px;
    height:40px;
    background-color:white;
    float:right;
    margin-top:2%;
    margin-right:8%;
    border:2px solid aaaaaa;
}
.insert > a{
    color:black;
    display: inline-block;
    width:100%;
    height:100%;
    margin-top:10%;
    font-size:1rem;
}
@media (max-width: 1058px){
    .category{
        padding-top:1%;
    }
    .section1{
        margin-left: 10%;
        margin-bottom:10%;
    }
    .search{
        width:100%;
        text-align: unset;
    }
    .search > input{
        width:30%;
    }
    .section2 > table{
        width:75%;
    }
    .paging {
        margin-left: 36%;
        width: 40%;
    }
}

@media (max-width: 768px){
    /* .search{
        margin-left:65%;
        padding-top:3%;
    }
    .search > input{
        width:65%;
    } */
    .section1{
        width: 90%;
        margin-bottom:18%;
    }
    .search > input{
        width:40%;
    }
    .table_mb{
        display:block;
    }
    .table_mb > ul > li{
        border-top:1px solid #cccccc;
        padding:5px 0px;
        padding-left:25px;
    }
    .table_mb > ul >li:last-child{
        border-bottom:1px solid #cccccc;
    }
    .table_mb > ul > li > a{
        padding:3px 0px;
    }
    .table_mb > ul > li > a > p{
        font-size:0.9rem;
        font-weight: bold;
    }
    .table_pc{
        display:none;
    }
    .sub_text{
        font-size:0.85rem;
    }
    .insert{
        margin-right:0%;
    }
    .paging {
        margin-left: 38%;
        margin-top: 15%;
        width: 50%;
    }
}

@media (max-width: 576px){
    .content{
        width:92%;
    }
    .section1{
        margin-bottom:20%;
    }
    .section1> .title > a > h1 {
        font-size:1.2rem;
    }
    .table_mb > ul > li{
        padding-left:15px;
    }
    .paging{
        margin-top: 20%;
        margin-left: 35%;
        width: 70%;
    }
    .paging a{
        padding:8px 10px;
        padding: 8px 12px;
        font-size: 1.1rem;
    }
    
}
